[submodule "frontend"]
	path = frontend
	url = git@github.com:icarus-child/SteamWhiteElephant.git
[submodule "backend"]
	path = backend
	url = git@github.com:icarus-child/SteamWhiteElephant-Backend.git
