services:
  postgres:
    container_name: container-pg
    image: postgres
    # hostname: localhost
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      # POSTGRES_DB: SWE
    ports:
      - 5432:5432
    volumes:
      - postgres-data:/var/lib/postgresql/data
    restart: unless-stopped

  nginx:
    image: nginx:alpine
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf
      - ./nginx/ssl:/etc/nginx/ssl
    depends_on:
      - frontend
      - backend
    restart: unless-stopped

  frontend:
    build: ./frontend
    environment:
      - NODE_ENV=production
    expose:
      - "3000"
    restart: unless-stopped

  backend:
    build: ./backend
    env_file:
      - .env
    environment:
      - DB_HOST=postgres
    expose:
      - "3333"
    depends_on:
      - postgres
    restart: unless-stopped

volumes:
  postgres-data:
